name: Build Android App
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Build with Buildozer
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          command: buildozer android release
          buildozer_version: master

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: bin/*.aab
